.heading {
    display: flex;
    justify-content: space-between;
    border:1px solid #27251f;
    align-items: center;
}

.nav-items > ul {
    display: flex;
    list-style-type: none;
}

.nav-items > ul > li {
    padding: 0 15px;
    cursor: pointer;
}

.res-card{
    border:1px solid #27251f;
    margin:10px;
    background-color: #f0f0f0;
}
.res-container{
    display: flex;
    flex-wrap: wrap;
    
}

.res-logo{
    height:150px;
    width:100%;
}

.res-card-data{
    padding: 0px 10px;
    width:200px;
}

.logo {
    width:100px;
    height:100px
}

.filter-section {
    margin: 10px;
    display: flex;
}

.search-bar{
    margin-left:10px;
}

.search-btn{
  cursor: pointer;
}
.filter-btn{
    cursor: pointer;
}

.shimmer-container{
    margin:10px;
    background-color: #f0f0f0;
    width:200px;
    height:300px;
}

.login-btn{
    cursor: pointer;
}